<!-- about-page -->
               {{#each message }}
            <div class="alert alert-danger">
                {{this}}
            </div>
            {{else}}
            <!--  nothing -->
            {{/each}}

        
<div class="about">
			<div class="about-text">
				<h3>About Us</h3>
			</div>	
			<div class="about-info">
				<h4>A blog for passionate Web Developers to Express Themselves!</h4>
				<br> <br>
				<div class="col-md-5 about-info-left">
					<img src="images/10-.jpg" alt=""/>
				</div>
				<div class="col-md-7 about-info-right">
					<h4>Interested in Joining Our Blogging Team? </h4>
					<p> Register to this site if you are a passionate web developer looking for a space to share your progress with other like minded individuals of varying experience! <span> For more information on the website's devs please refer to the bottom of this page. If you are interested in becomming a blogger on this website, visit the "Contact Us" page! </span> Feel free to leave comments!</p>
				</div>
				<div class="clearfix"> </div>
				
			</div>

			<div class="about-team">
				<div class="about-text">
					<h3 class="ind">Meet the Website Developers:</h3>
				</div>	
				<div class="row">
				<div class="col-sm-3 col-md-2 about-team-grids"></div>
					<div class="col-sm-6 col-md-3 about-team-grids">
						<div class="thumbnail">
							<img src="images/arushi.jpg" alt="" class="img-responsive" />
							<div class="caption">
								<h4><a href="#">Arushi Prakash</a></h4>
								<p>Front-end Developer. Attended Case Western Reserve's Coding Bootcamp. Has experience with HTML, CSS, Javascript, JQuery, Bootstrap, Node, Express, MySQL, Sass, and Unity</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 about-team-grids">
						<div class="thumbnail">
							<img src="images/jessica.jpg" alt="" class="img-responsive" />
							<div class="caption">
								<h4><a href="#">Jessica Fain</a></h4>
								<p>Full-Stack Developer. Currently attending Trilogy Eds Coding Bootcamp at Case Western Reserve University. Is experienced using: HTML, CSS, Javascript, JQuery, Bootsrap, Node, Express, Mongo, Angular, Git, and MySQL</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 about-team-grids">
						<div class="thumbnail">
							<img src="images/greg.jpg" alt="" class="img-responsive" />
							<div class="caption">
								<h4><a href="#">Greg Knight</a></h4>
								<p>A legend (in his own mind.) known for being a 90's Hip Hop savant, a friend to beers and single moms everywhere. Greg is currently attending CWRU's Full-Stack Developer Coding Bootcamp to add web development to his professional toolbelt.</p>
							</div>
						</div>
					</div>
					
					<div class="clearfix"> </div>
				</div>
			</div>