<div class="contact">
    <!--      <div class="contact-left">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11951.987726850984!2d-81.6083838!3d41.5043413!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x719069e07bb00b91!2sCase+Western+Reserve+University!5e0!3m2!1sen!2sus!4v1509329723926" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div> -->
    <div class="contact-right" id="contact-form">
        <p class="phn">Interested in Becoming a Blogger?</p>
        <p class="phn-bottom">Contact us
            <span>for more details!</span></p>
        <div class="in-left">
            <form>
                <input type="text" placeholder="Your Name:" required="true" id="name">
                <input type="text" placeholder="Your Github Username:" required="true" id="github">
                <input type="text" placeholder="E-mail:" required="true" id="email">
            </form>
        </div>
        <div class="in-right">
            <form>
                <textarea placeholder="Message:" required="true" id="comments"></textarea>
                <input type="submit" value="Submit" data-toggle="modal" data-target="confirm-modal">
                <!-- <input type="submit" value="Submit"> -->
            </form>
        </div>
    </div>
    <div class="clearfix"> </div>
    <!-- <div class="contact-left1">
            <h3>Contact Us With <span>Any Queston</span></h3>
            <div class="in-left">
                <form>
                    <input type="text" placeholder="Your Name:" required=" ">
                    <input type="text" placeholder="Phone Number:" required=" ">
                    <input type="text" placeholder="E-mail:" required=" ">              
                </form>
            </div>
            <div class="in-right">
                <form>
                    <textarea placeholder="Message:" required=" "></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div> -->
    <!--      <div class="contact-right1">
            <h3>Find Us On <span>Social Websites</span></h3>
            <p>View our github repo for this website here</p>
            
        </div> -->
    <!-- <div class="clearfix"> </div> -->
    <div class="container">
        <!-- <h2>Modal Example</h2> -->
        <!-- Trigger the modal with a button -->
        <!--   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
        <!-- Modal -->
        <div class="modal fade" id="confirm-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Interest Received!</h4>
                    </div>
                    <div class="modal-body">
                        <p>We will review your information and follow up in a few days!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="contact-confirm">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>