<!-- <!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
<!-- load bootstrap css -->
<!--  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
<!-- load fontawesome -->
<!--     <style>
    body {
        padding-top: 80px;
    }
    </style>
</head> -->
<!-- <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup</h1> -->
        <!-- show any messages that come back with authentication -->
 <!--        {{#each message }}
        <div class="alert alert-danger">
            {{this}}
        </div>
        {{else}} -->
        <!--  nothing -->
        <!-- {{/each}} -->
        <!-- LOGIN FORM -->
  <!--       <form action="/signup" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="fName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lName">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>
        <hr>
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
</div> -->
<!-- banner-body -->
<div class="banner-body regstr">
    <div class="container">
        <!-- header -->
      <!--   <div class="header">
            <div class="header-nav">
                <nav class="navbar navbar-default"> -->
                    <!-- Brand and toggle get grouped for better mobile display -->
                   <!--  <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><span>Q</span>uickly</a>
                    </div> -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <!-- <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="hvr-bounce-to-bottom"><a href="index.html">Home</a></li>
                            <li class="hvr-bounce-to-bottom"><a href="about.html">About</a></li>
                            <li class="hvr-bounce-to-bottom"><a href="Pages.html">Pages</a></li>
                            <li class="hvr-bounce-to-bottom"><a href="contact.html">Contact Us</a></li>
                        </ul>
                        <div class="sign-in">
                            <ul>
                                <li><a href="/login">Sign In </a>/</li>
                                <li><a href="/signup2">Register</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- /.navbar-collapse -->
           <!--      </nav>
            </div> -->
            <!-- search-scripts -->
            <script src="js/classie.js"></script>
            <script src="js/uisearch.js"></script>
            <script>
            new UISearch(document.getElementById('sb-search'));
            </script>
            <!-- //search-scripts -->
        </div>
        <!-- //header -->
        <!-- register -->
        <div class="sign-up-form">
            <h3>Register Here</h3>
            <!-- show any messages that come back with authentication -->
            {{#each message }}
            <div class="alert alert-danger">
                {{this}}
            </div>
            {{else}}
            <!--  nothing -->
            {{/each}}
    <!--         <p>Having hands on experience in creating innovative designs,I do offer design solutions which harness</p> -->
<!--             <form action="/signup2" method="post">

                <div class="sign-up">
                    <h5>Personal Information</h5>
                        <div class="sign-u">
                            <div class="sign-up1">
                                <h4 class="a">First Name* :</h4>
                            </div> -->
                         <!-- <div class="sign-up2"> -->
                        <!-- <form> -->
                            <!-- <input type="text" placeholder=" " required=" " name="fName" /> -->
                        <!-- </form> -->
                               <!--  </div>
                             <div class="clearfix"> </div>
                        </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4 class="b">Last Name* :</h4>
                    </div>
                    <div class="sign-up2"> -->
                        <!-- <form> -->
                            <!-- <input type="text" placeholder=" " required=" " name="lName" /> -->
                        <!-- </form> -->
                  <!--   </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4 class="c">Email Address* :</h4>
                    </div>
                    <div class="sign-up2"> -->
                        <!-- <form> -->
                            <!-- <input type="text" placeholder=" " required=" " name="email" /> -->
                        <!-- </form> -->
                   <!--  </div>
                    <div class="clearfix"> </div>
                </div>
                <h6>Login Information</h6>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4 class="d">Password* :</h4>
                    </div>
                    <div class="sign-up2"> -->
                        <!-- <form> -->
                            <!-- <input type="password" placeholder=" " required=" " name="passsword" /> -->
                        <!-- </form> -->
                   <!--  </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Confirm Password* :</h4>
                    </div>
                    <div class="sign-up2"> -->
                        <!-- <form> -->
                            <!-- <input type="password" placeholder=" " required=" " name="password" /> -->
                        <!-- </form> -->
                   <!--  </div>
                    <div class="clearfix"> </div>
                </div> -->
                <!-- <form> -->
                   <!--  <input type="submit" value="Submit">
                </form> -->


                <!-- LOGIN FORM -->
            <form action="/signup" method="post" class="sign-up">
        
             
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="fName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lName">
                </div>
                   <div class="form-group">
                    <label>email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <!-- <button type="submit" class="btn btn-warning btn-lg">Signup</button> -->
                <!-- <button type="submit" class= "sign-up">Signup</button> -->
                  <form>
                    <input type="submit" value="Submit">
                </form>
            </form>
            </div>
        </div>
        <!-- //register -->
    </div>
</div>